
<div class="titulo">Datos ultimas 24H</div>
<div class="cajon"> 
    <div class="caja">
        <div class="cajita">Recuperados</div>
        <div class="datos">{{datos.today_new_recovered | number}}</div>
    </div>
    <div class="caja">
        <div class="cajita">Infectados</div>
        <div class="datos">{{datos.today_new_confirmed | number}}</div>
    </div>
    <div class="caja">
        <div class="cajita">Muertos</div>
        <div class="datos">{{datos.today_new_deaths | number}}</div>
    </div>
</div>
