<div class="container">
  <div class="sideBar">
    <div class="menu" routerLink='/mundo' routerLinkActive="menuActivo">Mundo</div>
    <div class="menu" routerLink='/espana' routerLinkActive="menuActivo">España</div>
    <div class="menu" routerLink='/francia' routerLinkActive="menuActivo">Francia</div>
    <div class="menu" routerLink='/alemania' routerLinkActive="menuActivo">Alemania</div>
    <div class="menu" routerLink='/portugal' routerLinkActive="menuActivo">Portugal</div>
  </div>
<div class="centro">
<router-outlet></router-outlet>
</div>
</div>